button, canvas {
    position: relative;
    }

    button {
        z-index: 2;
    }

    canvas {
        z-index: 0;
    }
    body {
        margin: 0;
      }
      .flex-container {
            display: flex;
            flex-direction: column;
}